<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Migos</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/albums.css">
</head>
<body>
<div id="header">
    <h1>Albums</h1>

</div>

<div id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href=/?action=about">About</a></li>
        <li><a href="/?action=members">Members</a></li>
        <li><a href="/?action=albums">Albums</a></li>
        <li><a href="/?action=contact">Contact Us</a></li>
        <li><a href="/?action=news">News</a></li>
        <li><a href="/?action=info">Info</a></li>
    </ul>
</div>

<div class="column_container">

    <!-- **************************** column 1 - grey - fluid/flex ********** -->
    <section class="fixed">
        <h2>Culture</h2>
        <img src="images/Culture_cover.jpg" height="200" width="200">
    </section>

    <!-- **************************** column 2 - grey - fluid/flex ********** -->
    <section class="flex">
        <h2>Background Information</h2>
        <p>
            The Track list includes
        <ol>
            <li>Culture(featuring DJ Khaled)</li>
            <br>
            <li>T-Shirt</li>
            <br>
            <li>Call Casting</li>
            <br>
            <li>Bad and Boujee (featuring Lil Uzi Vert)</li>
            <br>
            <li>Get Right Witcha</li>
            <br>
            <li>Slippery(featuring Gucci Mane)</li>
            <br>
            <li>Big on Big</li>
            <br>
            <li>What the Price</li>
            <br>
            <li>Brown Paper Bag</li>
            <br>
            <li>Deadz(featuring 2 Chainz)</li>
            <br>
            <li>All Ass</li>
            <br>
            <li>Kelly Price(featuring Travis Scott)</li>
            <br>
            <li>Out Yo Way</li>
        </ol>
        </p>
    </section>

</div>

<div class="column_container">

    <!-- **************************** column 1 - grey - fluid/flex ********** -->
    <section class="fixed">
        <h2>Yung Rich Nation</h2>
        <img src="images/Yung_Rich_Nation_cover.jpg" height="200" width="200">
    </section>

    <!-- **************************** column 2 - grey - fluid/flex ********** -->
    <section class="flex">
        <h2>Background Information</h2>
        <p>
            The Track list includes
        <ol>
            <li>Memoirs</li>
            <br>
            <li>Dab Daddy</li>
            <br>
            <li>Migos Origin</li>
            <br>
            <li>Spray the Champagne</li>
            <br>
            <li>Street Nigga Sacrifice</li>
            <br>
            <li>Highway 85</li>
            <br>
            <li>One Time</li>
            <br>
            <li>Just for Tonight(featuring Chris Brown)</li>
            <br>
            <li>Pipe It Up</li>
            <br>
            <li>Gangsta Rap</li>
            <br>
            <li>Playa Playa</li>
            <br>
            <li>Cocaina(featuring Young Thug)</li>
            <br>
            <li>Trap Funk</li>
            <br>
            <li>What a Feeling</li>
            <br>
            <li>Recognition</li>
        </ol>
        </p>
    </section>

</div>






<div id="footer">
    Footer of the page
</div>

</body>
</html>