<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGW -  {{ pageTitle }} page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/albums.css">
</head>
<body>
<div id="header">
    <h1>Contact Us</h1>
</div>

<div id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/?action=login">Login</a></li>
        <li><a href="/?action=members">Members</a></li>
        <li><a href="/?action=albums">Albums</a></li>
        <li><a href="/?action=nominations">Nominations</a></li>
        <li><a href="/?action=news">News</a></li>
        <li><a href="/?action=info">Info</a></li>
    </ul>
</div>

<div class="column_container">

    <!-- **************************** column 1 - grey - fluid/flex ********** -->
    <section class="fixed">
        <h2>Offset</h2>
        <img src="images/offset.jpg" height="200" width="200">
    </section>

    <!-- **************************** column 2 - grey - fluid/flex ********** -->
    <section class="flex">
        </table> <tr>
            <th>Year</th>
            <th>Awards</th>
            <th>Nominated work</th>
            <th>Category</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td>80</td>
        </tr>
        </table>
    </section>

</div>




<div id="footer">
    Footer of the page
</div>

</body>

</html>