<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGW -  {{ pageTitle }} page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/members.css">
</head>
<body>
<div id="header">
    <h1>Info</h1>
</div>

<div id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/?action=about">About</a></li>
        <li><a href="/?action=members">People</a></li>
        <li><a href="/?action=summary">Summary</a></li>
        <li><a href="/?action=contact">Contact Us</a></li>
        <li><a href="/?action=news">News</a></li>
        <li><a href="/?action=info">Info</a></li>
    </ul>
</div>

<div class="column_container">

    <!-- **************************** column 1 - grey - fluid/flex ********** -->
    <section class="fixed">
        <h2>Bad and Boujee</h2>
        <img src="images/bad_and_boujee.jpg" height="200" width="200">
    </section>

    <!-- **************************** column 2 - grey - fluid/flex ********** -->
    <section class="flex">
        <iframe width="560" height="315" src="https://www.youtub
        e.com/embed/S-sJp1FfG7Q" frameborder="0" gesture="media"
                allow="encrypted-media" allowfullscreen></iframe>
    </section>

</div>

<div class="column_container">

    <!-- **************************** column 1 - grey - fluid/flex ********** -->
    <section class="fixed">
        <h2>MotorSport</h2>
        <img src="images/motorsport_cover.jpg" height="200" width="200">
    </section>

    <!-- **************************** column 2 - grey - fluid/flex ********** -->
    <section class="flex">
        <iframe width="560" height="315" src="https://www.youtub
        e.com/embed/S-sJp1FfG7Q" frameborder="0" gesture="media"
                allow="encrypted-media" allowfullscreen></iframe>
    </section>

</div>


<div id="footer">
    Footer of the page
</div>

</body>
</html>