<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGW -  {{ pageTitle }} page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/book.css">
    <link rel="stylesheet" href="/members.css">
</head>
<body>
<div id="header">
    <h1>Members of Migos</h1>
</div>

<div id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/?action=about">Login</a></li>
        <li><a href="/?action=members">Members</a></li>
        <li><a href="/?action=albums">Albums</a></li>
        <li><a href="/?action=contact">Contact Us</a></li>
        <li><a href="/?action=news">News</a></li>
        <li><a href="/?action=info">Info</a></li>
    </ul>
</div>

<div class="column_container">

    <!-- **************************** column 1 - grey - fluid/flex ********** -->
    <section class="fixed">
        <h2>Quavo</h2>
        <img src="images/quavo.jpg" height="200" width="200">
    </section>

    <!-- **************************** column 2 - grey - fluid/flex ********** -->
    <section class="flex">
        <h2>Background Information</h2>
        <p>
            Quavious Keyate Marshall also known as Quavo was born on April 2nd 1991 is one
            of the rappers in the group Migos. In Lawrenceville, Georgia he was raised by his
            mother who was a hairdresser. His father died when he was three years old He grew up
            with the other members in Gwinnett County. Marshall went to Berkmar High School.
            He was a quarterback in the 2009 season. He dropped out of Berkmar before the gruduation.

        </p>
    </section>

</div>

<div class="column_container">

    <!-- **************************** column 1 - grey - fluid/flex ********** -->
    <section class="fixed">
        <h2>Offset</h2>
        <img src="images/offset.jpg" height="200" width="200">
    </section>

    <!-- **************************** column 2 - grey - fluid/flex ********** -->
    <section class="flex">
        <p>
            Kiari Kendrell Cephus aka Offset was born on the 14th December 1991.
            He's from Lawrenceville, Georgia. He is currently dating American rapper Cardi B
            on the 27th October 2017.He proposed to her in Philadelphia, Pennsylvania.
            Offset has released music on their own and also collaborated with other artists.
        </p>
    </section>

</div>

<div class="column_container">

    <!-- **************************** column 1 - grey - fluid/flex ********** -->
    <section class="fixed">
        <h2>Takeoff</h2>
        <img src="images/takeoff.jpg" height="200" width="200">

    </section>

    <!-- **************************** column 2 - grey - fluid/flex ********** -->
    <section class="flex">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec et tu ita posuisti, et verba vestra sunt.
            Quae in controversiam veniunt, de iis, si placet, disseramus. Nam de isto magna dissensio est.
            Ita nemo beato beatior. Duo Reges: constructio interrete.
        </p>
    </section>

</div>

<div id="footer">
    Footer of the page
</div>

</body>
</html>